@use '../../../shared/styles/_variables.scss' as *;



@media (max-width:1200px) {

    .content {
        flex-wrap: wrap !important;
        aside{
            width: 75% !important;
        }
        app-aside {
            display: none;
        }

        .all-products {
            width: 100% !important;
            margin: 0 !important;
        }
    }



}

