<div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/images/header1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/header2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/header3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="container pb-5">
    <div class="content">
        <div class="categories w-25">
            <select class="form-control" (change)="filteringProducts($event)">
                <option value="all">All</option>
                <option *ngFor="let cate of cateNames" [value]="cate">{{cate}}</option>
            </select>
        </div>
    
        <div class="row" *ngIf="!isLoading">
            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-3 d-flex g-5" *ngFor="let product of allProducts">
                    <div class="item">
                        <img [src]="product.image" class="w-100 mb-3" alt="">
        
                        <div class="body">
                            <h4 class="text-center">{{product.title | minimizeDesc:3}}</h4>
                            <p>{{product.description | minimizeDesc:15}} ...</p>
                        </div>
        
                        <div class="product-footer d-flex justify-content-between align-items-center">
                            <button class="fw-bold">Add to cart</button>
                            <span  class="fw-bold">{{product.price | currency:'EUR'}}</span>
                        </div>
                        
                        <span class="rate text-white fw-bold fs-6">
                            {{product.rating.rate}}
                        </span>
                    </div>
            </div>
        </div>
    </div>


    <div class="text-center">
      <app-spinner *ngIf="isLoading"></app-spinner>
    </div>
</div>
