@use '../../../shared/styles/_variables.scss' as *;



.item {
    cursor: pointer;
     border-radius: 10px;
     position: relative;
     img{
         height: 200px;
         padding: 25px;
         transition: $transition;
 
         &:hover{
             transform:scale(1.2, 1.2)
         }
     }
 
     .body{
         h4{
             padding-top:5px ;
             background-color: $main-color;
             color: white;
             height: 35px;
             overflow: hidden;
             font-size: 19px;
         }
         p{
            color:rgb(0, 103, 77);
            font-size: 17px;
         }
         
     }
 
     .product-footer {
         margin: 8px 3px;
         button {
             padding: 3px 7px;
             color: $main-color;
             background-color: white;
             border: 2px solid $main-color;
             transition: $transition;
             &:hover {
                 color: white;
                 background-color: $main-color;
             }
         }
 
         span {
             color: $main-color;
 
         }
     }
 
     .rate{
         background-color: $main-color;
         padding: 3px 10px;
         position: absolute;
         right:-25px;
         top:3px;
         border-radius: 5px;
     }
 
     
 }